.flex-center {
  display: flex;
  justify-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #050c10;
  background-color: #a9b1af;
}
nav {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #050c10;
}
h1 {
  font-family: 'Russo One', sans-serif;
  color: #f8f6f5;
  font-size: 4rem;
  margin: 4% auto;
  text-align: center;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
footer .copyright {
  font-size: 1.4rem;
  margin: 4%;
  text-align: center;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 85%;
  }
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #24364b;
}
.navbar .logo {
  width: 20%;
  padding: 2%;
}
.navbar .logo img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .logo {
    width: unset;
  }
  .navbar .logo img {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}
.navbar nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}
.navbar nav a {
  text-decoration: none;
  color: #f8f6f5;
}
@media (max-width: 500px) {
  .navbar nav {
    width: 100%;
    flex-direction: column;
  }
  .navbar nav a {
    margin: 10% 0;
  }
}
.searchbar {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.searchbar input {
  width: 60%;
}
.searchbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #0f1a24;
  width: 200px;
  color: #f8f6f5;
  height: 38px;
  font-size: 1.8rem;
}
.searchbar .btn:hover {
  background-color: #f8f6f5;
  color: #0f1a24;
  border: 2px solid #0f1a24;
}
@media (max-width: 500px) {
  .searchbar .btn {
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .searchbar {
    flex-direction: column;
    margin-bottom: 4%;
  }
  .searchbar input {
    height: 10vh;
    width: 100%;
    margin-bottom: 2%;
  }
}
.categories {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .categories {
    max-width: 500px;
    width: 85%;
  }
}
.categories nav {
  display: flex;
  justify-content: space-between;
}
.categories nav a {
  display: block;
  text-decoration: none;
  color: #050c10;
  padding: 10px;
}
@media (max-width: 500px) {
  .categories nav {
    flex-direction: column;
    align-items: center;
  }
}
.menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.electronics:hover .electronics.menu {
  display: block;
  background-color: #a9b1af;
}
.electronics:hover .electronics.menu a {
  border: 1px solid #24364b;
}
.outdoor:hover .outdoor.menu {
  display: block;
  background-color: #a9b1af;
}
.outdoor:hover .outdoor.menu a {
  border: 1px solid #24364b;
}
.apparel:hover .apparel.menu {
  display: block;
  background-color: #a9b1af;
}
.apparel:hover .apparel.menu a {
  border: 1px solid #24364b;
}
.children:hover .children.menu {
  display: block;
  background-color: #a9b1af;
}
.children:hover .children.menu a {
  border: 1px solid #24364b;
}
.automotive:hover .automotive.menu {
  display: block;
  background-color: #a9b1af;
}
.automotive:hover .automotive.menu a {
  border: 1px solid #24364b;
}
.homedecour:hover .homedecour.menu {
  display: block;
  background-color: #a9b1af;
}
.homedecour:hover .homedecour.menu a {
  border: 1px solid #24364b;
}
.trending {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .trending {
    max-width: 500px;
    width: 85%;
  }
}
@media (max-width: 500px) {
  .trending {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.ending {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5% 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .ending {
    max-width: 500px;
    width: 85%;
  }
}
@media (max-width: 500px) {
  .ending {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.trendingHeader,
.endingHeader {
  margin: 3%;
  text-align: center;
}
.circleimg {
  border-radius: 50%;
  width: 15%;
}
@media (max-width: 500px) {
  .circleimg {
    width: 70%;
    margin: 5% 0;
  }
}
.ex-sect {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ex-sect .ex-img {
  width: 24%;
  padding: 1% 1% 5% 1%;
  border: 1px solid lightgrey;
  box-shadow: 5px 10px lightgrey;
}
.carouselContainer {
  height: 70vh;
}
#carousel {
  position: relative;
}
.carouselimg {
  width: 100%;
  height: 70vh;
  padding: 3%;
}
#carousel img {
  position: absolute;
  left: 0;
  animation: imgcarousel 9s infinite;
}
@keyframes imgcarousel {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#carousel .img1 {
  animation-delay: 6s;
}
#carousel .img2 {
  animation-delay: 4s;
}
#carousel .img3 {
  animation-delay: 2s;
}
#carousel .img4 {
  animation-delay: 0s;
}
.ex-body {
  background-color: #a9b1af;
}
.ex-sect {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ex-sect div {
  text-align: center;
}
.ex-sect h3 {
  margin-top: 4%;
  color: gray;
  text-decoration: #dc143c line-through;
}
.ex-sect h5 {
  margin: 2% 0%;
  text-decoration: underline;
  color: green;
}
.ex-sect .ex-img {
  width: 75%;
  padding: 4% 5% 15% 4%;
  border: 1px solid black;
  box-shadow: 5px 10px gray;
  margin-bottom: 10%;
  background-color: white;
  opacity: 0.8;
}
.ab-body {
  background-color: #a9b1af;
}
.ab-sect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.ab-sect #ab-div {
  max-width: 40%;
  background-color: #24364b;
  padding: 2%;
  border-radius: 90px;
  border: 3px dotted #0f1a24;
  color: #f8f6f5;
  margin: 2%;
}
.ab-sect #ab-div h3 {
  color: #f8f6f5;
  margin-left: 25%;
}
.ab-sect #ab-div p {
  text-align: center;
}
.ab-sect #ab-div p span {
  font-weight: bolder;
  font-size: 150%;
}
.ab-sect #ab-div a {
  color: #f8f6f5;
}
.profilepic {
  width: 70%;
  border-radius: 90px;
  border: 3px dotted #0f1a24;
  margin-left: 15%;
}
.ab-h1 {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #0f1a24;
}
span {
  font-size: 150%;
  color: #24364b;
  width: 60%;
  font-weight: 700;
  text-align: center;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.faq .faqCard {
  width: 80%;
  margin: 2%;
}
