.flex-center {
  display: flex;
  justify-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #050c10;
}
nav {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #050c10;
}
h1 {
  font-size: 4rem;
  margin: 2%;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 85%;
  }
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #24364b;
}
.navbar .logo {
  width: 20%;
  padding: 2%;
}
.navbar nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}
.navbar nav a {
  text-decoration: none;
  color: #f8f6f5;
}
@media (max-width: 500px) {
  .navbar nav {
    width: 80%;
  }
}
.searchbar {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.searchbar input {
  width: 60%;
}
.searchbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #0f1a24;
  width: 200px;
  color: #f8f6f5;
  height: 38px;
  font-size: 1.8rem;
}
.searchbar .btn:hover {
  background-color: #f8f6f5;
  color: #0f1a24;
  border: 2px solid #0f1a24;
}
@media (max-width: 500px) {
  .searchbar .btn {
    width: 100%;
    height: 50px;
  }
}
.categories {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .categories {
    max-width: 500px;
    width: 85%;
  }
}
.categories nav {
  display: flex;
  justify-content: space-between;
}
.circleimg {
  border-radius: 45%;
}
.ex-sect {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ex-sect .ex-img {
  width: 24%;
  padding: 1% 1% 5% 1%;
  border: 1px solid lightgrey;
  box-shadow: 5px 10px lightgrey;
}
.ex-body {
  background-color: lightblue;
}
.ex-sect {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ex-sect .ex-img {
  width: 21%;
  padding: 1% 1% 5% 1%;
  border: 1px solid black;
  box-shadow: 5px 10px gray;
  margin-bottom: 4%;
  background-color: white;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq .faqCard {
  flex-wrap: wrap;
}
