.ex-body{
    background-color: lightblue;
}
.ex-sect{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .ex-img{
        width: 21%;
        padding: 1% 1% 5% 1%;
        border: 1px solid black;
        box-shadow: 5px 10px gray;
        margin-bottom: 4%;
        background-color: white;
    }//closes ex-img
}//closes section

