
.searchbar {
    display: flex;
    justify-content: center;
    padding: 2%;
    input {
        width: 60%;
    }
    .btn {
        .btn-base(@bg-color, 200px, @nav-font);
    }// .btn
}// searchbar

.categories {
    .container();
    
    nav {
        display: flex;
        justify-content: space-between;
    }
}
