
.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: @nav-bg;
    .logo {
        width: 20%;
        padding: 2%;
    }
    @media @phone {
        flex-direction: column;
        .logo {
            margin: 0 auto;
            width: unset;
        }
    }
    nav {
        display: flex;
        justify-content: space-around;
        width: 80%;
        align-items: center;
            a {
                text-decoration: none;
                color: @nav-font;
            }

        @media @phone {
            width: 100%;
            flex-direction: column;
            a {
                margin: 10% 0;
            }

        }
    }
}
